:root {
// COLORS

  --primary1: #303f9f;
  --primary2: #096dd9;
  --primary3: #1890ff;
  --primary4: #69c0ff;
  --primary5: #bae7ff;

  --grey1: #333333;
  --grey2: #595959;
  --grey3: #8c8c8c;
  --grey4: #bfbfbf;
  --grey5: #d9d9d9;

  --divider: #f5f5f5;
  --background: #f8f8ff;

  --text1: var(--grey1);
  --text2: var(--grey2);
  --text3: var(--grey3);

  --overlay: rgba(0, 0, 0, 0.5);
  --overlayHover: rgba(0, 0, 0, 0.75);

  --error: #f5222d;

// TYPOGRAPHY
  --mainFont: 'Roboto', 'Arial', sans-serif;

  --regular: 300;
  --medium: 500;
  --bold: 700;
}
